body{
   /*background-color: #fff5ee;*/
   background-image: url(https://media.discordapp.net/attachments/911035759325233183/911086135655145502/background.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
   overflow-x: hidden;
   overflow-y: hidden;
}

.container{
background-color: #fff5ee;
border-left: #9400d3 4px solid;
border-right: #9400d3 4px solid;
}

#header {
  border-bottom: #9400d3 4px solid;
}

.fill {
    min-height: 100vh;
}

.err {
  color: #171717;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 14rem;
}

/*@keyframes rotate {
    from {transform:rotate(360deg);}
    to {transform:rotate(0deg);}
}

img.rotation{
  animation: rotate 1s linear 0s infinite;
}*/

.round {
    border-radius: 100%;
    border: 3px solid black;
    }