<!DOCTYPE html>
<html xmlns:th="http://www.tymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oups</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link type="text/css" th:href="@{/css/404.css}" rel="stylesheet" />

    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
</head>
<link rel="shortcut icon" type="image/png" th:href="@{/images/icon.png}"/>
<body>


<section id="header" class="bg-info pb-2" >
    <h3 class="font-italic font-weight-light pl-3 py-2 mb-0 bg-info text-white" >You are lost!</h3>
    <a class="font-italic font-weight-light text-white pl-3 py-1 mb-0 link-light" th:href="@{/}">Help page.</a>
</section>

<section id="content">
    <div class="container">
        <div class="row pt-5 align-items-center">
            <div class="col text-center">
                <div class="err">4</div>
            </div>
            <div class="col text-center">
                <!--<i class="far fa-question-circle fa-spin"></i>-->
                <IMG class="rotation round" SRC="https://media.discordapp.net/attachments/911035759325233183/911076732885405727/220x220_space-kitten.gif">
            </div>
            <div class="col text-center">
                <div class="err">4</div>
            </div>
        </div>
<!--        x-->
    </div>

</section>

</body>